---
import { getCollection } from 'astro:content';

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from '../layouts/BaseLayout.astro';

// Component Imports
import CallToAction from '../components/CallToAction.astro';
import Grid from '../components/Grid.astro';
import Hero from '../components/Hero.astro';
import Icon from '../components/Icon.astro';
import Pill from '../components/Pill.astro';
import PortfolioPreview from '../components/PortfolioPreview.astro';
import NormalButton from '../components/NormalButton.astro';

// Page section components
import ContactCTA from '../components/ContactCTA.astro';
import Skills from '../components/Skills.astro';

// Content Fetching: List four most recent work projects
const projects = (await getCollection('work'))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Define a list of recommendations in the Astro component.
const recommendations = [
	{
		photo: '/Portfolio/assets/Farouk_Jaziri_Received_Recommendation1.webp',
		name: 'Mohamed Ali Fathallah',
		position: 'Data Team Lead at DNEXT',
		text: "I had the pleasure of working closely with Farouk, and I can confidently say that he is an exceptionally intelligent and quick learner. His expertise in data processing and analysis, particularly with Python and Power BI, is impressive. Farouk consistently demonstrates a keen eye for detail and a strong commitment to delivering high-quality work. Beyond his technical abilities, Farouk also excels in interpersonal skills, making him a well-rounded and effective team member. He is not only technically proficient but also a great collaborator who communicates effectively and fosters a positive work environment.",
	},
	{
		photo: '/Portfolio/assets/Farouk_Jaziri_Received_Recommendation2.webp',
		name: 'Ahmed Ben Abdessalem',
		position: 'Senior Full Stack Engineer at DNEXT',
		text: "I had the privilege of working with Farouk at DNEXT Intelligence SA, where his role as a Data Analyst was instrumental in driving data-driven solutions. His expertise in Python, SQL, and Power BI consistently turned complex data into actionable insights that greatly impacted strategic decisions. Farouk’s ability to create custom reports and dashboards streamlined our analysis process, significantly improving efficiency. His strong technical background, paired with his proactive approach to problem-solving, made collaborating with him a smooth and productive experience. I highly recommend Farouk for any role where data analytics and innovation are key.",
	},
	{
		photo: '/Portfolio/assets/Farouk_Jaziri_Received_Recommendation3.webp',
		name: 'Hamza Labidi',
		position: 'Power BI Specialist/Tech lead at DNEXT',
		text: "Farouk is a hardworking and detail-oriented professional. He played a pivotal role in solving problems and consistently supported his colleagues in overcoming challenges, fostering a positive and productive team environment. Farouk’s dedication and contributions make him an asset to any team.",
	},
	{
		photo: '/Portfolio/assets/Farouk_Jaziri_Received_Recommendation4.webp',
		name: 'Wassim Mandhouj',
		position: 'Data Analyst',
		text: "Working with Farouk Jaziri has been exceptional. His innovative approach, sharp analytical skills, and dedication consistently elevate our team. Farouk excels at breaking down complex problems, uncovering insights, and driving data-driven decisions. His technical expertise, collaborative spirit, and mentorship inspire growth and creativity, making him a valuable asset. Farouk’s passion and skills will surely lead to continued success in his career.",
	}
];

// Define a list of certifications in the Astro component.
const certifications = [
	{
        "title": "Data Analyst",
        "issuer": "IBM",
        "description": "A comprehensive course on data analysis fundamentals, including Python, SQL, and data visualization.",
		"link": "https://credentials.edx.org/credentials/ee89f505c5964828a3b3a0dbefc15058/",
        "image": "/Portfolio/assets/0_Data Analyst.webp"
    },
	{
        "title": "Power BI Job Simulation",
        "issuer": "PwC",
        "description": "Completed a job simulation to enhance Power BI skills and client-focused data visualization.",
		"link": "https://forage-uploads-prod.s3.amazonaws.com/completion-certificates/4sLyCPgmsy8DA6Dh3/a87GpgE6tiku7q3gu_4sLyCPgmsy8DA6Dh3_EZMZWQG5Wd2vzLm9p_1733352207601_completion_certificate.pdf",
        "image": "/Portfolio/assets/6_PwC Challenge.webp"
    },
	{
        "title": "Linux Commands & Shell Scripting",
        "issuer": "IBM",
        "description": "A comprehensive course on data analysis fundamentals, including Python, SQL, and data visualization.",
		"link": "https://courses.edx.org/certificates/39fa65b92fbf41f2a04fe6132d411bfd",
        "image": "/Portfolio/assets/2_Linux Commands & Shell Scripting.webp"
    },
	{
        "title": "Analyzing Data with Python",
        "issuer": "IBM",
        "description": "A comprehensive course on data analysis fundamentals, including Python, SQL, and data visualization.",
		"link": "https://courses.edx.org/certificates/6a1a82fc16e74fc7b62ea2a59df287e4",
        "image": "/Portfolio/assets/3_Analyzing Data with Python.webp"
    },
	{
        "title": "SQL for Data Science",
        "issuer": "IBM",
        "description": "A comprehensive course on data analysis fundamentals, including Python, SQL, and data visualization.",
		"link": "https://courses.edx.org/certificates/f6a1da898a4a4846bc912e25678357fb",
        "image": "/Portfolio/assets/4_SQL for Data Science.webp"
    },
	{
        "title": "Dashboards with Excel and Cognos",
        "issuer": "IBM",
        "description": "A comprehensive course on data analysis fundamentals, including Python, SQL, and data visualization.",
		"link": "https://courses.edx.org/certificates/e4c7ab1819534d7ab39f39942a2f24b9",
        "image": "/Portfolio/assets/5_Data Visualization and Dashboards.webp"
    },
	// Add more recommendation objects as needed
];
// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-55">
<!-- Identity -->
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Hello, I'm Farouk Jaziri"
					tagline="I am an analytics engineer currently based in Monastir, Tunisia."
					align="start"
				>
					<div class="roles">
						<Pill><Icon icon="python" size="1.33em" /> Python</Pill>
						<Pill><Icon icon="sql" size="1.33em" /> SQL</Pill>
						<Pill><Icon icon="etl" size="1.33em" /> ETL</Pill>
						<Pill><Icon icon="power-bi" size="1.33em" /> Power BI</Pill>
					</div>
					<div class="divider"></div> <!-- Divider -->
					<div class="cta" style="display: flex; justify-content: space-between; align-items: center;" >
    					<div style="margin-right: 10px; flex: 1; text-align: center;">
							<NormalButton href="/Portfolio/assets/Farouk Jaziri Resume.pdf">
								<Icon icon="cv" size="1em" />
								Resume
							</NormalButton>
						</div>
    					<div style="margin-left: 10px; flex: 1; text-align: center;">
							<NormalButton href="https://wa.me/0021625992985">
								<Icon icon="whatsapp" size="1em" />
								Whatsapp
							</NormalButton>
						</div>
					</div>
				</Hero>
				<img
					alt="Farouk Jaziri smiling in a green shirt and black shell glasses"
					width="480"
					height="620"
					src="/Portfolio/assets/Farouk Jaziri Analytics Engineer.webp"
				/>
			</header>
<!-- Areas of Interest -->
		</div>
		<div class="wrapper">
			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Areas of Interest</h3>
					<p>a strong passion for continuous learning and innovation.</br>
						Looking for challenging opportunities to contribute and grow more in my career and share my knowledge within a skilled team.</p>
				</header>
			</section>
			<Skills />
		</div>
<!-- Featured Projects -->
		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Featured Projects</h3>
					<p>Take a look below at some of my featured work from the past few years.</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/Portfolio/work/">
						View All
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>
<!-- Certifications -->
<section class="section with-background bg-variant" style="padding: 3rem 1rem; display: flex; flex-direction: column; align-items: center;">
    <header class="section-header stack gap-2 lg:gap-4">
        <h3>Professional Certifications</h3>
        <p>
            Here are some of the certifications I’ve earned to enhance my skills and knowledge.
        </p>
    </header>
    <div class="carousel-container swiper-container">
        <div class="certifications-container swiper-wrapper">
            {certifications.map((certification) => (
                <a href={certification.link} target="_blank" rel="noopener noreferrer" class="certification-link swiper-slide">
                    <div class="certification-card">
                        <img src={certification.image} alt={`Certification for ${certification.title}`} draggable="false" />
                        <div class="certification-info">
                            <p class="certification-title">{certification.title}</p>
                            <p class="certification-issuer">{certification.issuer}</p>
                            <p class="certification-description">{certification.description}</p>
                        </div>
                    </div>
                </a>
            ))}
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
</section>
<!-- Mentions -->
			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Mentions</h3>
					<p>
						I have been fortunate enough to receive praise for my work on several occasions. Take
						a look below to learn more.
					</p>
				</header>
				<div class="gallery">
					<div class="recommend-slider" id="slider">
						<div class="slider-track">
							{recommendations.map((recommendation) => (
								<div class="recommend-card">
									<img src={recommendation.photo} alt={`Profile of ${recommendation.name}`} class="profile-photo" />
									<div class="text-container">
										<p class="name">{recommendation.name}</p>
										<p class="position">{recommendation.position}</p>
										<p class="recommendation-text">{recommendation.text}</p>
									</div>
								</div>
							))}
						</div>
					</div>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: '';
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background:
			url('/Portfolio/assets/backgrounds/noise.png') top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: 'header header header header' 'gallery gallery gallery gallery';
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: 'header header header cta' 'gallery gallery gallery gallery';
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: flex;
		}
	}
	/* ====================================================== */

	.recommend-slider {
		position: relative;
		width: 100%;
		max-width: 40rem;
		margin: 0 auto;
		overflow: hidden;
	}

	.slider-track {
		display: flex;
		transition: transform 0.5s ease-in-out;
		width: 100%;
	}

	.recommend-card {
		flex: 0 0 100%;
		padding: 1.5rem;
		background: var(--gradient-subtle);
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		box-shadow: var(--shadow-sm);
		display: flex;
		align-items: center;
		gap: 1rem;
	}

	.profile-photo {
		width: 5rem; /* Adjusted width for better visibility */
		height: 5rem; /* Adjusted height for better visibility */
		border-radius: 50%;
		object-fit: cover;
		box-shadow: var(--shadow-md);
	}

	.text-container {
		display: flex;
		flex-direction: column;
	}

	.name {
		font-size: 1.5rem;
		font-weight: 900;
		color: var(--gray-300);
		margin: 0;
	}

	.position {
		font-size: 0.9rem;
		font-style: italic;
		color: var(--gray-300);
		margin: 0;
	}

	.recommendation-text {
		font-size: 0.95rem;
		line-height: 1.4;
		color: var(--gray-300);
		margin-top: 5px;
	}

	@media (max-width: 50em) {
		.recommend-card {
			padding: 0.5rem; /* Even smaller padding */
			width: 3rem;
		}

		.profile-photo {
			width: 3.5rem; /* Adjust photo size further */
			height: 3.5rem;
		}

		.name {
			font-size: 1rem; /* Smaller font for name */
		}

		.position {
			font-size: 0.8rem; /* Smaller font for position */
		}

		.recommendation-text {
			font-size: 0.8rem; /* Smaller text for recommendation */
		}
	}

	.divider {
		width: 100%;
		height: 2px; /* Thickness of the divider */
		background-color: #e2e8f0; /* Color of the divider */
		margin: 1rem 0; /* Space around the divider */
	}

	/* ====================================================== */
	
/* Carousel Container */
.certifications-container {
	display: flex;
	gap: 1rem;
	overflow-x: scroll;
	padding: 1rem;
	box-sizing: border-box;
}

/* Hide Scrollbar on Webkit Browsers */
.certifications-container::-webkit-scrollbar {
	display: none;
}

/* Each Certification Link */
.certification-link {
	text-decoration: none;
	color: inherit;
	flex: 0 0 auto;
	width: 100%;
	max-width: 350px;
	scroll-snap-align: start;
}

/* Certification Card */
.certification-card {
    background: #fff;
    border-radius: 12px;
    padding: 1rem;
    border: 1px solid #e0e0e0;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    will-change: transform;
}

.certification-card:hover {
    transform: scale(1.05);
}

/* Certification Card Image */
.certification-card img {
    width: 100%;
    height: 250px;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 1rem;
}

/* Certification Card Info */
.certification-info {
    padding: 0.5rem;
}

/* Certification Title */
.certification-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000000;
    margin-bottom: 0.5rem;
}

/* Certification Issuer and Description */
.certification-issuer {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
}
.certification-description {
    font-size: 0.9rem;
    color: #333;
    margin-top: 0.5rem;
}

@media (max-width: 1150px) {
    .carousel-container {
        padding: 0.25rem;
        width: 100%;
    }

	.certification-card:hover {
        transform: scale(1);
    }
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 768px) {
    .carousel-container {
        padding: 0.25rem;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
    }

    .certifications-container {
        display: flex;
        gap: 1rem;
    }

    .certification-card {
        height: 300px;
        scroll-snap-align: start;
    }
    
    .certification-card img {
        height: 150px;
    }

    .certification-title {
        font-size: 0.9rem;
    }

    .certification-issuer,
    .certification-description {
        font-size: 0.7rem;
    }
}

</style>

<script>
	let currentIndex = 0;
	let autoSlide: number;

	// Function to move to the next slide
	function moveSlider() {
		const sliderTrack: HTMLElement = document.querySelector('.slider-track')!;
		if (sliderTrack) {
			sliderTrack.style.transform = `translateX(-${currentIndex * 100}%)`;
		}
		const totalSlides = sliderTrack.children.length;

		currentIndex = (currentIndex + 1) % totalSlides;
		sliderTrack.style.transform = `translateX(-${currentIndex * 100}%)`;
	}

	// Start the auto-slide with interval
	function startAutoSlide() {
		autoSlide = setInterval(moveSlider, 5000);
	}

	// Stop the auto-slide
	function stopAutoSlide() {
		clearInterval(autoSlide);
	}

	// Event listeners to start/stop the slide on hover
	const slider: HTMLElement = document.getElementById('slider')!;
	slider.addEventListener('mouseenter', stopAutoSlide);
	slider.addEventListener('mouseleave', startAutoSlide);

	// Start auto-slide on page load
	startAutoSlide();

	// Function to scroll horizontally
	document.addEventListener("DOMContentLoaded", () => {
    const container: HTMLElement = document.querySelector('.certifications-container')!;

    let isDown = false;
    let startX: number;
    let scrollLeft: number;

    container.addEventListener('mousedown', (e) => {
      isDown = true;
      container.classList.add('active');
      startX = e.pageX - container.offsetLeft;
      scrollLeft = container.scrollLeft;
    });

    container.addEventListener('mouseleave', () => {
      isDown = false;
      container.classList.remove('active');
    });

    container.addEventListener('mouseup', () => {
      isDown = false;
      container.classList.remove('active');
    });

    container.addEventListener('mousemove', (e) => {
      if (!isDown) return;
      e.preventDefault();
      const x = e.pageX - container.offsetLeft;
      const walk = (x - startX) * 2; // scroll speed
      container.scrollLeft = scrollLeft - walk;
    });

    container.addEventListener('touchstart', (e) => {
      startX = e.touches[0].pageX - container.offsetLeft;
      scrollLeft = container.scrollLeft;
    });

    container.addEventListener('touchmove', (e) => {
      const x = e.touches[0].pageX - container.offsetLeft;
      const walk = (x - startX) * 2;
      container.scrollLeft = scrollLeft - walk;
    });
  });
</script>

<script>
	document.addEventListener('DOMContentLoaded', function () {
		const swiper = new Swiper('.carousel-container', {
			slidesPerView: 3,
			spaceBetween: 60,
			pagination: {
				el: '.swiper-pagination',
				clickable: true,
			},
		});
	});
	</script>